<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">postgres
    <title>Title</title>
</head>
<body>
  {% if message %}
  <h2>{{message}}</h2>
  {% endif %}
<form method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Passowrd" required>
    <input type="text" name="rec_username" placeholder="Recipient's Username" required>
    <input type="text" name="message" placeholder="Message" required>
    <input type="submit">
</form>
</body>
</html>